
/* 
    Author     : danielschroeder
    UVID       : 10520096
*/

.tan {background-color: tan; }
.brown {background-color: brown; }
div#gameboardDiv{
    
}
div#userInfo{
    float: bottom;
    
}
div#whiteTeam{
    float: right;
    display: block;
}
div#blackTeam{
    float: left;
}
div#gameStats{
    float: bottom;
    text-align: center;
}

table#gameboard {
    overflow: hidden;
    width: auto;
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    
}
table#gameboard tr{
    border: 1px solid black;
    padding: 5px;
}
table#gameboard td{
    border: 1px solid black;
    padding: 5px;
/*    height: 75px;
    width: 75px;*/
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
ul.tab li {float: left;}

ul.tab li a{
    display: inline-block;
    color:  black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.tab li a:hover {background-color: #ddd;}
ul.tab li a:focus, .active {background-color: #ccc;}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

